<!DOCTYPE html>
<html>
<head>
	<title>AuxCord</title>
</head>
<body>

    <div class="precontainer">
    <nav class="prenavbar">      
      <ul>
            <li><a href="/users/new/">Sign Up</a></li>
            <li><a href="/login">Login</a></li>     
      </ul>
    </nav>
  </div>

<h1>AuxCord</h1>

<h2>Discover and share your favorite live music events</h2>

<div class="bkg1"></div>

<% if flash[:alert] %>
         <%= flash[:alert] %> 
<% end %>


</body>
</html>