<!DOCTYPE html>
<html>
<head>
	<title>AUXcord</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class="margin"></div>
  
  
</div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
   <img src="auxcordlogo.png" class="img-responsive img-circle margin" style="display:inline" alt="AuxCordLogo" width="250" height="250">
  <h3 class="margin">Discover new music</h3></br>
  <h2>Search by artist, venue, or date to find upcoming events in your area</h2>
  <p>With AUXcord, you can make a personalized list of concerts you're intested in attending </p>
  <div class="title1">Record your favorite music memories</div>
  <h3>Create a living document where you can keep track of awesome shows you've seen. Don't forget to snap some photos to upload!</h3>
</div>

<!-- Third Container (Grid) -->
<div class="wrapper">
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">How do I get started?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Sign up for an account</p>
      <img src="check.png" class="img-responsive margin" style="width:25%" alt="Image" align="middle">
    </div>
    <div class="col-sm-4"> 
      <p>Find a show</p>
      <img src="place.png" class="img-responsive margin" style="width:25%" alt="Image" align="middle">
    </div>
    <div class="col-sm-4"> 
      <p>Track your favorite artists</p>
      <img src="music.png" class="img-responsive margin" style="width:25%" alt="Image" align="middle">
    </div>
  </div>
</div>
</div>


<% if flash[:alert] %>
         <%= flash[:alert] %> 
<% end %>

</body>
</html>