<h1> Welcome to Concert Tracker </h1>

<h2> Log In: </h2>
<div class = 'login'>
		<%= form_tag(login_path) do  %>
		Username: <%= text_field_tag :username%>
		Password: <%= text_field_tag :password %>
		<%= submit_tag 'Login' %>
		<% end %>
	</div>
