// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
  }

  p {font-size: 16px;}

  .margin {
    // margin-bottom: 20px;
    font-size: 24px;
  }

  .bg-1 { 
      background-image: url("/live.jpg");
      background-image: cover;	
      background-size: 100% 100%;
      color: #ffffff;
      height: 650px;
}

  .bg-2 { 
  	  color: #ffffff;
  	  background-color: #000000;
      // height: 350px;
      // background-image: url("/show.jpeg");
      // background-image: cover;
      // background-size: 100% 100%;
  }

  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }

  .bg-4 { 
      background-color: #2f2f2f;
      height: 100px;
      color: #fff;
  }

  .container-fluid {
      padding-top: 35px;
      padding-bottom: 35px;
      // position: absolute;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0px;
      font-size: 16px;
      letter-spacing: 5px;
      background-color: #191919 !important;
  }

.wrapper {
  margin-bottom: 150px;

}

.navbar ul {
	display: inline-block;
	margin: 10px;		
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.btn {
	margin-left: 20px;
}

.margin {
	margin-top: 15px;
}

.title1 {
	padding: 25px;
  font-size: 24px;
}

.navbar-brand {
	font-size: 34px;
}

.img-responsive {
	margin-left: auto;
	margin-right: auto;
}
