// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event__box{
    border: 2px solid red;
}

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
