// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile {
	padding-left: 20px;	
}

.info {
	padding: 20px;	
}

.field {
	padding: 5px;
}

.submit {
	margin-bottom: 20px;
}